.container {
  height: 100%;
  position: absolute;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 40px auto 40px;
  grid-gap: 3px;
  grid-template-areas:
    "p h h h h h h h h h h h"
    "p r r r r r r r r r r r"
    "p f f f f f f f f f f f";
}

.header {
  text-align: center;
  grid-area: h;
}

.products {
  grid-area: p;
}

#results {
  vertical-align: text-top;
  text-align: center;
  grid-area: r;
}

.footer {
  grid-area: f;
  text-align: center;
}
.productContainter {
  vertical-align: text-top;
  position: relative;
  height: 400px;
  margin: 40px;
  display: inline-block;
  text-align: center;
  max-width: 200px;
}

.imageContainer {
  width: 200px;
  height: 200px;
}

.productContainter img {
  max-width: 200px;
  max-height: 200px;
  top: 0;
}

@media only screen and (max-width: 600px) {
  .productContainter {
    display: block;
    margin: 0 auto;
    margin-bottom: 100px;
  }
}
